Port 22
Protocol 2
AddressFamily any
ListenAddress 0.0.0.0
PermitRootLogin no
PasswordAuthentication yes
PermitEmptyPasswords no
ChallengeResponseAuthentication no
UsePAM no
X11Forwarding no
PrintMotd no
AuthorizedKeysFile .ssh/authorized_keys
PidFile /var/run/sshd.pid
ClientAliveInterval 15
ClientAliveCountMax 8
MaxSessions 30
MaxStartups 60:30:120
AllowTcpForwarding yes
AllowStreamLocalForwarding yes
GatewayPorts no
Subsystem sftp /usr/lib/openssh/sftp-server
